/* GLOBAL */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.conteiner{
  width: 80%;
}
.clearfix::after{
 content: "";
 display: table;
 clear: both;
}
.btn{
  background-color:#0061ff ;
  padding: 5px 15px;
  border: 0;
  
}
.btn a{
  color: white;
  text-decoration: none;

}
/* .jumbotron{
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
} */
/* HEADER */
/* global */
header{
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  background-color: white;
}
header nav ul,header nav ul li,header nav ul li a,header nav>a{
  display: inline-block;
}
header nav ul li a{
  font-size: 14px;
  text-decoration: none;
  line-height: 80px;
  margin: 0 20px;
  color: black;
}
header nav ul li a:hover{
  border-bottom:2px solid gray;
}
/* fine global */

nav.left{
float: left;
}
.logo{
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  margin-right: 20px;
}
header nav>a{
  line-height: 80px;
}
nav.right{
  float:right;
  }
header button{
  margin-left: 20px;
}
/* jumbotron */
.jumbotron{
  height: 90vh;
  background-color:#b4d0e7 ;
  margin-top: 80px;
}
.jumbotron_container{
  width: 90%;
  margin: auto ;
  padding-top: 80px;
}
.jumbotron_container .bottom_left{
  display: inline-block;
  width: 30%;
}
 h1,.jumbotron_container .bottom_left p{
  margin: 10px 0px 40px 0px;
}
h1{
  font-size: 40px;
}
.jumbotron_container .bottom_left p{
  font-size: 12px;
}
.jumbotron_container img{
  width: 70%;
  float: right;
}
i{
  font-size: 30px;
  color:black
}
